#news {
    .news-excerpt{
      min-height: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
      max-height:150px;
    }

    .news-title{
      width:100%;
    }

    h4{
      a {
        font-size: 21px;
        text-decoration: none;
        color:$secondary-color;
      }

      a:hover {
        color:$secondary-color;
        text-decoration: underline;
      }
      span {
        position: relative;
        font-size: 12px;
      }
    }

    .latest-post-image{
      padding-bottom:20px;
      height:270px;
      white-space: nowrap;

      img{
        width:100%;
        height:100%;
        object-fit: cover;
      }
    }

    a.post-link {
      color:$highlight-color;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
    }

    a.post-link::after{
      position: relative;
      content: '-';
      font-weight:bold;
      font-size:34px;
      left:4px;
      top:3.5px;
    }

    a.post-link:hover {
      color:$highlight-color-darken;
    }
}