---
title: Sitemap
layout: subpage
lang: de
permalink: sitemap/
description: Linkliste zu allen Inhalten dieser Webseite
---

<h1>Sitemap</h1>
<br/>
<h4>Startseite</h4>
<ul class="dash">
    {% for item in site.data.nav %}
        {% if item.hardlink == false %}
        <li><a href="/{{item['link']}}">{{item[page.lang]}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<br/>
<h4>Subseiten</h4>
<ul class="dash">
    {% for item in site.data.nav %}
        {% if item.hardlink == true %}
        <li><a href="/{{item['link']}}">{{item[page.lang]}}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<br/>
<h4>Info</h4>
<ul class="dash">
    {% for link in site.data.links %}
        {% for info in link.infolinks %}
            <li><a href="/{{info.path[page.lang]}}">{{info.name[page.lang]}}</a></li>
        {% endfor %}
    {% endfor %}
</ul>